h1{
   size: 30px;
}

img{
    border: 2px solid orange;
}
.caja1 {
     

}
#Imagen1{
    float: left;
    margin-left: 100pxpx; 
}
#Imagen1_1 {
    float: right;
   
}
.caja2{

}
.caja3{

}
.caja4{

}
#Imagen1{
    float: left;
}
