h1{
   font-size: 50px;
   text-align: center;
   color: orange;

}

img{
    border: 2px solid orange;
}
.caja1 {
    height: 160px;
}
#Imagen1{
    float: left;
    margin-left: 5px; 
    margin-right: 10px;
}
#Imagen1_1 {
    float: right;
    margin-right: 5px; 
    margin-left: 10px;
}
.caja2{
    height: 210px;


}
#Imagen_2{
    float: left;
    margin-right: 10px;
    margin-right: 5px;
}
.caja3{
    height: 210px;

}
#Imagen_3{
    float: right;
    margin-right: 5px; 
    margin-left: 10px;
    
}
.caja4{
    height: 210px;
}
#Imagen_4{
    float: left;
    margin-right: 10px;
    margin-right: 5px;

}
h2{
    color: orange;
}
body{
    background-color: rgb(255, 232, 236);
    margin-left: 35px;
    margin-right: 15px;
}
